extends layout

block content
  button#trackbutton Cambiar Video
  div#updatenote Cargando Modelo
  canvas#canvas
  video#myvideo
  script(src="https://cdn.jsdelivr.net/npm/handtrackjs/dist/handtrack.min.js")
  script(src="/javascripts/camera_track.js")
